body {
    font-family: Arial, sans-serif;
    background-color: #020000;
    margin: 0;
    padding: 0;
}

.container_failure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    background-color: #ff5353;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.failure {
    background-color: #ff5353;
}

.failure h2 {
    margin-top: 0;
}

.failure p {
    margin-bottom: 0;
}
